.footer {
  height: 90px;
  width: 100%;
  min-width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #666666;
  color: #FFFFFF;
  position: fixed;
  bottom: 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  margin: 0px 40px;
}

.footer-about {
  
}

.footer-made {
  height: 30px;
  font-size: 16px;
  
}

.footer-copyright {
  height: 18px;
  font-size: 12px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.linkedin {
  color: #fff;
  background: #1177B5;
  font-size: 36px;
  border-radius: 3px;
  position: relative;
}

.linkedin:hover {
  color: #1177B5;
  background: #fff;
}

.linkedin:active {
  color: #1177B5;
  background: #fff;
  box-shadow: none;
  top: 1px;
}


.github {
  color: #FFFFFF;
  background: #24292E;
  font-size: 36px;
  border-radius: 3px;
  position: relative;
}

.github:hover {
  background: #24292E;
  color: #cccccc;
}

.github:active {
  background: #434242;
  color: #cccccc;
  box-shadow: none;
  top: 1px;
}

.angel {
  color: #0e0e0e;
  background: white;
  font-size: 36px;
  border-radius: 3px;
  position: relative;
}

.angel:hover {
  background:#0e0e0e;
  color: white;
}

.angel:active {
  background:#0e0e0e;
  color: white;
  box-shadow: none;
  top: 1px;
}