.login-page {
  display: flex;
  align-items: top;
  justify-content: center;
  margin-top: 150px;
}

.login-img {
  display: flex;
  align-items: top;
}

.login-img > img {
  width: 225px;
  height: 225px;
}

.login-form {
  display: block;
  width: 360px;
  padding-left: 15px;
}

.login-errors {
  margin-top: 10px;
  height: 16px;
  color: red;
}

.login-form > h2 {
  color: #999;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.login-form-label {
  display: block;
  color: #333333;
  padding: 8px 0px;
  font-size: 18px;
  letter-spacing: 0.5px;
}

strong {
  font-weight: bold;
}

.login-form-input {
  display: block;
  width: 280px;
  margin-top: 7px;
  font-size: 20px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 3px 0px 3px 10px;
  margin: 5px 0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.login-form-input:focus {
  box-shadow: 0 0 5px rgba(72, 190, 157, 1);
  border: 1px solid rgb(72, 190, 157);
}

.login-button {
  margin-top: 20px;
  padding: 8px 22px;
  font-size: 18px;
  background: #ff652f;
  color: #fff;
  text-shadow: 0 -1px 0 #c83400;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.login-button:hover {
  background: rgb(255, 82, 22);
}

.demo-button {
  margin-top: 20px;
  margin-left: 20px;
  padding: 8px 22px;
  font-size: 18px;
  background: #5bc5a6;
  color: #fff;
  text-shadow: 0 -1px 0 #318790;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.demo-button:hover {
  background: rgb(72, 190, 157);
}

.login-form-forgot {
  margin-top: 10px;
  color: #333333;
  font-size: 12px;
}