.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-component {
  margin-top: 50px;
  display: flex;
  align-items: top;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.center-column {
  display: block;
  height: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}