.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-component {
  display: flex;
  align-items: top;
  justify-content: center;
  position: relative;
}
.center-column {
  display: block;
}

.expense-index {
  box-sizing: border-box;
  width: 550px;
}

.expense-index-item {
  display: flex;
  justify-content: space-between;
  background: green;
  cursor: pointer;
  height: 50px;
  font-size: 24px
}

.expense-summary {
  display: flex;
  background: blue;
  width: 100%;
  height: 100%;
  
  align-items: center;
  
}

.expense-summary:hover {
  background: lightgray
}

.expense-delete {
  display: flex;
  align-items: center;
  background: gray;
  color: red;
}

.expense-delete:hover {
  text-decoration: underline;
}