.nav-bar {
  height: 50px;
  width: 100%;
  min-width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5bc5a6;
  border-bottom: 1px solid #48be9d;
  font-family: 'Montserrat';
  font-size: 14px;
  text-shadow: 0 -1px 0 #39a385;
  color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.nav-logo {
  display: flex;
  align-items: center;
  margin: 20px;
}

.nav-logo-image {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.nav-logo-name {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.nav-signup-button {
  background: #ff652f;
  color: #fff;
  padding: 7px 10px;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 12px;
  text-shadow: 0 -1px 0 #c83400;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4),
  0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.nav-signup-button:hover {
  background: rgb(255, 82, 22);
}

.nav-signup-button:active {
  background: rgb(255, 82, 22);
  box-shadow: none;
  top: 1px;
}

.nav-login-button {
  background: #5bc5a7;
  color: #fff;
  padding: 7px 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  text-shadow: 0 -1px 0 #318790;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4),
  0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.nav-login-button:hover {
  background: rgb(72, 190, 157);
}

.nav-login-button:active {
  background: rgb(72, 190, 157);
  box-shadow: none;
  top: 1px;
}

.nav-logout-button {
  background: #ff652f;
  color: #fff;
  padding: 7px 10px;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 12px;
  text-shadow: 0 -1px 0 #c83400;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4),
    0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.nav-logout-button:hover {
  background: rgb(255, 82, 22);
}

.nav-logout-button:active {
  background: rgb(255, 82, 22);
  box-shadow: none;
  top: 1px;
}

