.payment-index-item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  border-bottom: 1px solid #eee;
}

.payment-month-divider {
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #ddd;
  background: #eee;
  color: #666;
  font-size: 11px;
  text-transform: uppercase;
  padding: 4px 10px;
}

.payment-index-item:hover {
  background: lightgray;
}

.payment-summary {
  display: flex;
  background: #ffffff;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
}

.payment-summary:hover {
  background: lightgray;
}

.payment-index-main {
  display: flex;
  align-items: center;
  width: 250px;
  height: 100%;
  margin-left: 10px;
}

.payment-index-date {
  margin-right: 10px;
}

.payment-index-month {
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
}

.payment-index-day {
  font-size: 20px;
  color: #999;
}

.payment-index-category {
  width: 19px;
  height: 19px;
  margin-right: 10px;
}

.payment-index-transfer {
  font-size: 12px;
  color: #333333;
}

.payment-index-cost {
  text-align: right;
  width: 80px;
  margin-left: 70px;
  font-size: 12px;
  color: #aaa;
  padding: 4px;
}

.payment-index-you {
  display: flex;
  align-items: center;
  padding: 4px;
  text-align: left;
  font-size: 12px;
  color: #aaa;
}

.payment-index-positive {
  width: 70px;
  font-weight: 500;
  font-size: 16px;
  color: #5bc5a7;
}

.payment-index-negative {
  width: 70px;
  font-weight: 500;
  font-size: 16px;
  color:#ff652f;
}

.payment-summary:hover .payment-x {
  display: flex;
}

.payment-delete {
  box-sizing: border-box;
  display: flex;
  text-align: center;
  color: #c00;
  font-weight: bold;
  font-size: 20px;
  min-width: 12px;
  margin-left: 40px;
  margin-right: 10px;
  height: 26px;
}

.payment-x {
  display: none;
}

.payment-delete:hover {
  border-bottom: 2px solid #c00;
}

.payment-form {
  box-sizing: border-box;
  width: 350px;
  height: 220px;
  border: 1px solid #999;
  border-radius: 5px;
  display: block;
  background: #fff;
}

.payment-form-header {
  height: 18px;
  color: white;
  font-weight: bold;
  padding: 10px;
  background: #5cc5a6;
  font-family: 'Montserrat';
  display: flex;
  justify-content: space-between;
}

.payment-form-close:hover {
  color: #599f8a;
  cursor: pointer;
}

.payment-form-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.payment-form-select {
  margin-left: 10px;
  margin-top: 10px;
}

.payment-form-cost {
  display: flex;
  align-items: center;
  width: 90px;
  border-bottom: 1px dashed #ccc;
}

.payment-form-currency {
  margin-right: 10px;
}

.payment-form-amount {
  font-size: 25px;
  font-weight: bold;
  height: 40px;
  width: 80px;
  vertical-align: middle;
  border: none;
}

.payment-form-date {
  font-size: 14px;
  border: none;
  border-bottom: 1px dashed #ccc;
  height: 30px;
}

.payment-errors {
  padding-top: 10px;
  padding-left: 10px;
  color: red;
}

.payment-form-cancel {
  background: #f6f6f6;
  color: #333;
  padding: 7px 15px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 12px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4),
    0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.payment-form-cancel:hover {
  background: #d7d7d7;
}

.payment-form-cancel:active {
  background: #d7d7d7;
  box-shadow: none;
  top: 1px;
}

.payment-form-pay {
  background: #5cc5a6;
  color: #fff;
  padding: 7px 15px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 12px;
  margin-right: 10px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4),
    0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.payment-form-pay:hover {
  background: rgb(72, 190, 157);
}

.payment-form-pay:active {
  background: rgb(72, 190, 157);
  box-shadow: none;
  top: 1px;
}
