.left-sidebar {
  margin-right: 20px;
}

.left-sidebar-container {
  box-sizing: border-box;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.left-sidebar-main {
  color: #999;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.left-dashboard {
  color: #999;
  margin-top: 10px;
  padding: 5px 0px 5px 10px;
  cursor: pointer;
}

.left-dashboard:hover {
  background-color: #eee;
}

.left-pig {
  width: 18px;
  height: 16px;
  margin-right: 5px
}

.left-payment {
  color: #999;
  padding: 5px 0px 5px 10px;
  cursor: pointer;
}

.left-payment:hover {
  background-color: #eee;
}

.left-dollar {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  margin-right: 10px;
}

.left-expense {
  color: #999;
  padding: 5px 0px 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.left-expense:hover {
  background-color: #eee;
}

.left-ul {
  width: 16px;
  height: 16px;
  margin-left: 1px;
  margin-right: 5px;
}

.right-sidebar {
  margin-left: 20px;
}

.right-sidebar-container {
  box-sizing: border-box;
  min-width: 180px;

}