.left-sidebar {

}

.left-sidebar-container {
  box-sizing: border-box;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.right-sidebar {

}

.right-sidebar-container {
  box-sizing: border-box;
  min-width: 200px;

}