.splash-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  
}

.splash-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;

  padding-top: 2rem;
  padding-bottom: 2rem;
}

.splash-logo {
  display: flex;
  align-items: center;
}

.splash-logo-image {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.splash-logo-name {
  color: rgb(55, 59, 63);
  font-size: 1.25rem;
  font-weight: 600;
  font-family: 'Montserrat';
}

.splash-login {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
  font-size: 0.875rem;
  color: #1cc29f;
  cursor: pointer;
  font-family: 'Montserrat';
}

.splash-signup {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: relative;
  border-radius: 5px;
  border: 0 solid;
  box-shadow: 0 2px 0 rgba(55, 59, 63, 0.5);
  background-color: #1cc29f;
  font-weight: 600;
  font-size: 0.875rem;
  color: #fff;
  cursor: pointer;
  font-family: 'Montserrat';
}

.splash-signup:hover {
  box-shadow: none;
  top: 2px;
}

.splash-main {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-main-container {
  display: flex;
  align-items: top;
  justify-content: center;
}

.splash-main-left {
  height: 100%;
  width: 45%;
  display: block;
  align-content: center;
  font-family: 'Montserrat';

}

.splash-left-header {
  padding-top: 4rem;
  color: rgb(55, 59, 63);
  font-size: 2.5rem;
  text-align: left;
  font-weight: 700;
  letter-spacing: 0.75px;
  width: 480px;
}

.splash-left-div {
  padding-top: 5px;
  color: #1cc29f;
}

.splash-left-body {
  padding-top: 1rem;
}

.splash-left-body > p {
  padding-bottom: 1rem;
  
  max-width: 320px;
}

.splash-left-signup {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  border: 0 solid;
  position: relative;
  box-shadow: 0 2px 0 rgba(55, 59, 63, 0.5);
  background-color: #1cc29f;
  font-weight: 600;
  font-size: 0.875rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat';
}

.splash-left-signup:hover {
  box-shadow: none;
  top: 2px;
}


.splash-main-right {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-main-right > img {
  height: 480px;
  width: 480px;
}